$bg:lightgray;
.block{
    height: 100px;
    width: 200px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    margin: 20px;
    background: $bg;
}
@mixin active {
    background: gold;
    transform: scale(1.05);
    transition: 1s
}
#temp{
    @extend .block;
    &:hover{
        @include active;
        cursor: pointer;
    }
}
// ----------------- transform ---------------
.rotate{
    @extend .block;
    // transition: 1s height , 1s 1s width;
    // transition: 1s cubic-bezier(.83,.97,.05,1.44);
    &:hover{
        transform: rotate(360deg);
        transition: 1s;
    }
    &:not(:hover){
        transform: rotate(-360deg);
        transition: 1s;
    }
}

.translate {
    @extend .block;
    &:hover{
        transform: translate(50px,25px) scale(0.5);
        transition: 1s;
    }
}
.skew{
    @extend .block;
    &:hover{
        transform: skew(20deg,20deg);
        transition: 1s;
    }
}

// ------------------ animation ------------------
@keyframes rainbow{
    20% {background: lightcoral}
    40% {background: yellow}
    60% {background: lightblue}
    80% {background: lightseagreen}
}
.animation{
    @extend .block;
    &:hover{
        animation: 3s rainbow infinite steps(1,start);
    }
}

@keyframes move-round {
    from {left: 0}
    to {left: 180px}
}
.move{
    @extend .block;
    position: relative;
    .move-item {
        position: absolute;
        height: 20px;
        width: 20px;
        background: lightcoral;
        animation: 2s move-round infinite alternate
    }
}

@keyframes spin {
    from { transform: rotate(0) }
    to { transform: rotate(360deg)}
}
.play-state{
    @extend .block;
    animation: 2s spin forwards paused linear infinite alternate;
    &:hover{
        animation-play-state: running;
    }
}
 
// ------------- demo --------------------
.img-wrap{
    width: 800px;
    height: 400px;
    margin: auto;
    // background: url('../img/fox.png');
    background: url('../img/tiny.jpg')
} 

@media screen and (min-width:600px) and (max-width:800px){
    .img-wrap{
        width: 100%;
    }
}
@media screen and (max-width:600px) {
    .img-wrap{
        display: none;
    }
}
