$bg:lightgray;
.block{
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin active {
    background: gold;
    transform: scale(1.05);
    transition: 1s
}
div{
    @extend .block;
    background: $bg;
    &:hover{
        @include active;
        cursor: pointer;
    }
}