{
    "root":true,
    "parserOptions":{
        "parser":"babel-eslint",
        "sourceType":"module"
    },
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "globals": {
        "NODE_ENV": "readonly"
    },
    // "plugins": ["@babel/plugin-transform-async-to-generator" ],
    "rules":{
        "genetator-star-spacing":0
    }
}